backend/.env
backend/.venv
backend/src/connection/__pycache__/
Backend/src/embeddings/__pycache__/
Backend/src/llm/__pycache__/
Backend/src/vectordb/__pycache__/
Backend/src/Ingestion/__pycache__/
Backend/src/chuncking/__pycache__/
Backend/src/connection/__pycache__/connections.cpython-314.pyc
frontend/node_modules
